pandas
numpy
scipy
prophet
xgboost
scikit-learn
shap
langchain
langchain-community
langgraph
langchain-groq
chromadb
pydantic
deepeval
streamlit
matplotlib
seaborn
plotly
jupyter
ipykernel
python-dotenv
requests
